#background {
  height: 100vh;
  width: 100vw;
  padding: var(--mantine-spacing-xl);
  display: flex;
  justify-content: center;
  position: relative;
}

.main {
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  height: 100%;
  max-width: var(--mantine-breakpoint-xl);
  flex: 1;
}
