.content {
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  mix-blend-mode: screen;
  background: #fff;
  color: #000;
  height: 100%;
  max-width: var(--mantine-breakpoint-xl);
  flex: 1;
}

.center {
  max-width: var(--mantine-breakpoint-xs);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chunk {
  display: flex;
  gap: var(--mantine-spacing-xs);
}

.top,
.middle {
  flex-direction: column;
}
.middle {
  flex-basis: 45%;
  gap: var(--mantine-spacing-sm);
}
.middle p,
.middle a {
  font-weight: 700;
}
.middle a {
  text-decoration: underline;
}
