.center {
  max-width: var(--mantine-breakpoint-xs);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.content {
  display: flex;
  gap: var(--mantine-spacing-xs);
}

.column {
  flex-direction: column;
}

.middle {
  flex-basis: 45%;
  gap: var(--mantine-spacing-sm);
}
.middle p {
  font-weight: 700;
}
.middle a {
  font-weight: 700;
  text-decoration: underline;
}
.middle .mantine-Button-root {
  width: fit-content;
}
