.burn {
  position: relative;
  background: var(--bg-gradient);
  background-size: var(--bg-size);
  animation: var(--bg-animation);
}

.burn > * {
  background: var(--mantine-color-white);
  mix-blend-mode: screen;
}

.burn > p {
  font-size: var(--mantine-font-size-sm);
}

.home {
  position: absolute;
  right: var(--mantine-spacing-lg);
}
