.burn {
  position: relative;
  background: var(--bg-gradient);
  background-size: var(--bg-size);
  animation: var(--bg-animation);
}

.burn > * {
  background: var(--mantine-color-white);
  mix-blend-mode: screen;
}

.burn > p {
  font-size: var(--mantine-font-size-sm);
}

.body {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xl);
}
