.grid {
  display: grid;
  gap: var(--mantine-spacing-sm);
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: $mantine-breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.outline {
  padding: calc(var(--mantine-spacing-xs) / 4);
  background: var(--bg-gradient);
  background-size: var(--bg-size);
  animation: var(--bg-animation);
}

.repo {
  padding: var(--mantine-spacing-xs);
}

.repo img {
  height: var(--mantine-font-size-md);
}

.description {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-md);
}

.meta {
  display: flex;
  gap: var(--mantine-spacing-xs);
}
.meta p {
  font-size: var(--mantine-font-size-xs);
}

.badge {
  height: var(--mantine-font-size-xs);
  width: var(--mantine-font-size-xs);
  padding: 0;
  align-self: center;
  margin-right: var(--mantine-spacing-xs);
}

.mantine-Anchor-root {
  font-size: var(--mantine-font-size-sm);
}

.mantine-Flex-root {
  align-items: center;
  gap: calc(var(--mantine-spacing-xs) / 2);
}

.end {
  align-self: flex-end;
}
