@import "tailwindcss";
@theme {
  /* Pumpkin */
  --color-pumpkin: #ff6700;
  --color-pumpkin-100: #ffe0cc;
  --color-pumpkin-200: #ffc299;
  --color-pumpkin-300: #ffa366;
  --color-pumpkin-400: #ff8533;
  --color-pumpkin-500: #ff6700;
  --color-pumpkin-600: #cc5200;
  --color-pumpkin-700: #993d00;
  --color-pumpkin-800: #662900;
  --color-pumpkin-900: #331400;

  /* Dodger Blue */
  --color-dodger-blue: #0496ff;
  --color-dodger-blue-100: #cdeaff;
  --color-dodger-blue-200: #9bd5ff;
  --color-dodger-blue-300: #69c1ff;
  --color-dodger-blue-400: #37acff;
  --color-dodger-blue-500: #0496ff;
  --color-dodger-blue-600: #0079d0;
  --color-dodger-blue-700: #005b9c;
  --color-dodger-blue-800: #003d68;
  --color-dodger-blue-900: #001e34;

  /* Aquamarine */
  --color-aquamarine: #6bfacd;
  --color-aquamarine-100: #e1fef5;
  --color-aquamarine-200: #c4fdeb;
  --color-aquamarine-300: #a6fce1;
  --color-aquamarine-400: #89fbd7;
  --color-aquamarine-500: #6bfacd;
  --color-aquamarine-600: #26f7b5;
  --color-aquamarine-700: #07cf90;
  --color-aquamarine-800: #058a60;
  --color-aquamarine-900: #024530;

  /* Rose */
  --color-rose: #f72585;
  --color-rose-100: #fdd4e6;
  --color-rose-200: #fca8ce;
  --color-rose-300: #fa7db5;
  --color-rose-400: #f9529d;
  --color-rose-500: #f72585;
  --color-rose-600: #dc0868;
  --color-rose-700: #a5064e;
  --color-rose-800: #6e0434;
  --color-rose-900: #37021a;

  /* Sunglow */
  --color-sunglow: #ffd24c;
  --color-sunglow-100: #fff6db;
  --color-sunglow-200: #ffedb8;
  --color-sunglow-300: #ffe494;
  --color-sunglow-400: #ffdb70;
  --color-sunglow-500: #ffd24c;
  --color-sunglow-600: #ffc20a;
  --color-sunglow-700: #c79500;
  --color-sunglow-800: #856300;
  --color-sunglow-900: #423200;

  /* Papaya Whip */
  --color-papaya-whip: #fdf0d5;
  --color-papaya-whip-100: #fffcf6;
  --color-papaya-whip-200: #fef9ed;
  --color-papaya-whip-300: #fef5e5;
  --color-papaya-whip-400: #fdf2dc;
  --color-papaya-whip-500: #fdf0d5;
  --color-papaya-whip-600: #f9cf7b;
  --color-papaya-whip-700: #f5ae22;
  --color-papaya-whip-800: #b17908;
  --color-papaya-whip-900: #593c04;

  /* Rich Black */
  --color-rich-black: #001021;
  --color-rich-black-100: #9fcdff;
  --color-rich-black-200: #3f9cff;
  --color-rich-black-300: #006bde;
  --color-rich-black-400: #003d7e;
  --color-rich-black-500: #001021;
  --color-rich-black-600: #000c18;
  --color-rich-black-700: #000912;
  --color-rich-black-800: #00060c;
  --color-rich-black-900: #000306;

  /* Primary */
  --color-primary: var(--color-pumpkin-400);
  --color-primary-hover: var(--color-pumpkin-500);

  /* Josefin Sans */
  --font-josefin-sans: "Josefin Sans", sans-serif;

  /* Barriecito */
  --font-barriecito: "Barriecito", cursive;

  /* Barrio */
  --font-barrio: "Barrio", cursive;

  /* Danfo */
  --font-danfo: "Danfo", cursive;

  --spacing-checkerboard-size: 110px;
}
