---
import BaseHead from "~/components/BaseHead.astro";
import Blob from "~/assets/blob.svg";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <main
      class="relative flex min-h-dvh min-w-dvw justify-center bg-blue-400 p-8 sm:p-4 lg:p-6"
    >
      <section class="relative flex w-full max-w-7xl flex-1 bg-white">
        <Blob />
      </section>
    </main>
  </body>
</html>
