---
import RootLayout from "~/layouts/Root.astro";
import Button from "~/components/Button.astro";
---

<RootLayout>
  <section class="flex flex-col items-center justify-center">
    <div class="mb-8 text-center">
      <h1 class="text-5xl font-bold">
        Hello! I'm
        <span class="font-danfo"> Blake Netzeband </span>
      </h1>
    </div>
  </section>

  <p class="mb-6 max-w-2xl text-center text-lg">
    I'm a full stack developer with experience building apps of all shapes and
    sizes. I've spent a good chunk of my life contributing to products that have
    an environmental or social impact. The other parts include living out of a
    van, biking around the world, or just hangin' with my pup :)
  </p>

  <p class="mb-8 max-w-2xl text-center text-lg">
    Are you building something interesting?{" "}
    <a
      href="mailto:blakenetzeband@gmail.com"
      class="text-blue-600 underline hover:text-blue-800"
    >
      Let's connect
    </a>
  </p>

  <div class="flex w-full max-w-xs flex-col gap-4">
    <Button href="/projects">Projects</Button>
    <Button href="/blog">Blog</Button>
  </div>
</RootLayout>
