---
import Grid from "~/components/Grid.astro";
import Layout from "~/layouts/Root.astro";
import { getRepos } from "~/lib/projects";
import { status } from "~/lib/utils";

const repos = await getRepos(Astro.request);

// nothing to show :( redirect
if (repos.every((r) => r.status === 400)) {
	return redirect(`/?status=${status.octokit}`);
}

const personal = repos[0];
const work = repos[1];
---

<Layout
	title="BN | Projects"
	description="A selection of my Github projects"
>
	<section>
		<h1 class="text-2xl font-bold">Personal Projects</h1>
		<Grid data={personal.data} />
	</section>
	<section>
		<h1 class="text-2xl font-bold">Work Projects</h1>
		<p>
			The following are typically CI items, POC, etc. and are aren't suited
			for production
		</p>
		<Grid data={work.data} />
	</section>
</Layout>
