---
import GitHubProjectsGrid from "~/components/projects/GitHubProjectsGrid.astro";
import ProjectsOverviewGrid from "~/components/projects/ProjectsOverviewGrid.astro";
import Layout from "~/layouts/Root.astro";
import { getRepos } from "~/lib/projects.server";
import { status } from "~/lib/utils";

const repos = await getRepos(Astro.request);

// nothing to show :( redirect
if (repos.every((r) => r.status === 400)) {
  return redirect(`/?status=${status.octokit}`);
}

const personal = repos[0];
const work = repos[1];
---

<Layout title="BN | Projects" description="A selection of my GitHub projects">
  <div class="flex flex-col gap-8 py-8">
    <section class="flex flex-col gap-2">
      <h1 class="px-8 text-3xl font-bold">Projects</h1>
      <ProjectsOverviewGrid />
    </section>
    <section class="flex flex-col gap-2">
      <h2 class="px-8 text-2xl font-bold">GitHub Personal Projects</h2>
      <GitHubProjectsGrid data={personal.data} />
    </section>
    <section class="flex flex-col gap-2">
      <div class="flex flex-col gap-2 px-8 text-justify">
        <h2 class="text-2xl font-bold">GitHub Work Projects</h2>
        <p>
          The following are typically CI items, POC, etc. and are aren't suited
          for production
        </p>
      </div>
      <GitHubProjectsGrid data={work.data} />
    </section>
  </div>
</Layout>
