.title {
  font-size: var(--mantine-h4-font-size);
  line-height: var(--mantine-h4-line-height);
  font-weight: var(--mantine-h4-font-weight);
}

.anchor {
  display: flex;
  gap: var(--mantine-spacing-xs);
}

.text {
  font-size: var(--mantine-font-size-xs);
}

.posts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--mantine-spacing-sm);
  width: 100%;
  max-width: var(--mantine-breakpoint-xs);
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: var(--mantine-spacing-sm);
}
