.alert {
  white-space: break-spaces;
}

.center {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--mantine-spacing-xs) / 2);
}

.notification {
  background-color: var(--mantine-color-violet-light);
  max-width: var(--mantine-breakpoint-md);
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  width: 100%;
}

.authNotification {
  margin-top: var(--mantine-spacing-xl);
}

.authRoot {
  gap: calc(var(--mantine-spacing-xs) / 2);
  align-items: flex-end;
}

.footer {
  max-width: var(--mantine-breakpoint-sm);
  align-items: flex-start;
}

.cta {
  align-self: flex-end;
}

.row {
  flex-direction: row;
  gap: var(--mantine-spacing-xs);
}

.header {
  justify-content: space-between;
}

.commentBody {
  gap: calc(var(--mantine-spacing-xs) / 2);
}

.comment {
  background-color: var(--mantine-color-gray-0);
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-xs);
}

.commentHeader {
  justify-content: space-between;
}

.icon {
  width: var(--mantine-font-size-sm);
  height: var(--mantine-font-size-sm);
}
