@import "tailwindcss";
@plugin '@tailwindcss/typography';

@font-face {
  font-family: "Barriecito";
  src: url("/fonts/barriecito-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barrio";
  src: url("/fonts/barrio-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Danfo";
  src: url("/fonts/danfo-regular-variable.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("/fonts/josefin-sans-regular-variable.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("/fonts/josefin-sans-italic-variable.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/**
 * define colors in root so we can reference in JS
 * @see {@link file://./../lib/styles.client.ts}
 * @see {@link file://./../lib/styles.server.ts}
 * */
:root {
  /* Pumpkin */
  --color-pumpkin: #ff6700;
  --color-pumpkin-100: #ffe0cc;
  --color-pumpkin-200: #ffc299;
  --color-pumpkin-300: #ffa366;
  --color-pumpkin-400: #ff8533;
  --color-pumpkin-500: #ff6700;
  --color-pumpkin-600: #cc5200;
  --color-pumpkin-700: #993d00;
  --color-pumpkin-800: #662900;
  --color-pumpkin-900: #331400;

  /* Dodger Blue */
  --color-dodger-blue: #0496ff;
  --color-dodger-blue-100: #cdeaff;
  --color-dodger-blue-200: #9bd5ff;
  --color-dodger-blue-300: #69c1ff;
  --color-dodger-blue-400: #37acff;
  --color-dodger-blue-500: #0496ff;
  --color-dodger-blue-600: #0079d0;
  --color-dodger-blue-700: #005b9c;
  --color-dodger-blue-800: #003d68;
  --color-dodger-blue-900: #001e34;

  /* Aquamarine */
  --color-aquamarine: #6bfacd;
  --color-aquamarine-100: #e1fef5;
  --color-aquamarine-200: #c4fdeb;
  --color-aquamarine-300: #a6fce1;
  --color-aquamarine-400: #89fbd7;
  --color-aquamarine-500: #6bfacd;
  --color-aquamarine-600: #26f7b5;
  --color-aquamarine-700: #07cf90;
  --color-aquamarine-800: #058a60;
  --color-aquamarine-900: #024530;

  /* Rose */
  --color-rose: #f72585;
  --color-rose-100: #fdd4e6;
  --color-rose-200: #fca8ce;
  --color-rose-300: #fa7db5;
  --color-rose-400: #f9529d;
  --color-rose-500: #f72585;
  --color-rose-600: #dc0868;
  --color-rose-700: #a5064e;
  --color-rose-800: #6e0434;
  --color-rose-900: #37021a;

  /* Sunglow */
  --color-sunglow: #ffd24c;
  --color-sunglow-100: #fff6db;
  --color-sunglow-200: #ffedb8;
  --color-sunglow-300: #ffe494;
  --color-sunglow-400: #ffdb70;
  --color-sunglow-500: #ffd24c;
  --color-sunglow-600: #ffc20a;
  --color-sunglow-700: #c79500;
  --color-sunglow-800: #856300;
  --color-sunglow-900: #423200;

  /* Papaya Whip */
  --color-papaya-whip: #fdf0d5;
  --color-papaya-whip-100: #fffcf6;
  --color-papaya-whip-200: #fef9ed;
  --color-papaya-whip-300: #fef5e5;
  --color-papaya-whip-400: #fdf2dc;
  --color-papaya-whip-500: #fdf0d5;
  --color-papaya-whip-600: #f9cf7b;
  --color-papaya-whip-700: #f5ae22;
  --color-papaya-whip-800: #b17908;
  --color-papaya-whip-900: #593c04;

  /* Rich Black */
  --color-rich-black: #001021;
  --color-rich-black-100: #9fcdff;
  --color-rich-black-200: #3f9cff;
  --color-rich-black-300: #006bde;
  --color-rich-black-400: #003d7e;
  --color-rich-black-500: #001021;
  --color-rich-black-600: #000c18;
  --color-rich-black-700: #000912;
  --color-rich-black-800: #00060c;
  --color-rich-black-900: #000306;
}

@theme {
  /* Pumpkin */
  --color-pumpkin: var(--color-pumpkin);
  --color-pumpkin-100: var(--color-pumpkin-100);
  --color-pumpkin-200: var(--color-pumpkin-200);
  --color-pumpkin-300: var(--color-pumpkin-300);
  --color-pumpkin-400: var(--color-pumpkin-400);
  --color-pumpkin-500: var(--color-pumpkin-500);
  --color-pumpkin-600: var(--color-pumpkin-600);
  --color-pumpkin-700: var(--color-pumpkin-700);
  --color-pumpkin-800: var(--color-pumpkin-800);
  --color-pumpkin-900: var(--color-pumpkin-900);

  /* Dodger Blue */
  --color-dodger-blue: var(--color-dodger-blue);
  --color-dodger-blue-100: var(--color-dodger-blue-100);
  --color-dodger-blue-200: var(--color-dodger-blue-200);
  --color-dodger-blue-300: var(--color-dodger-blue-300);
  --color-dodger-blue-400: var(--color-dodger-blue-400);
  --color-dodger-blue-500: var(--color-dodger-blue-500);
  --color-dodger-blue-600: var(--color-dodger-blue-600);
  --color-dodger-blue-700: var(--color-dodger-blue-700);
  --color-dodger-blue-800: var(--color-dodger-blue-800);
  --color-dodger-blue-900: var(--color-dodger-blue-900);

  /* Aquamarine */
  --color-aquamarine: var(--color-aquamarine);
  --color-aquamarine-100: var(--color-aquamarine-100);
  --color-aquamarine-200: var(--color-aquamarine-200);
  --color-aquamarine-300: var(--color-aquamarine-300);
  --color-aquamarine-400: var(--color-aquamarine-400);
  --color-aquamarine-500: var(--color-aquamarine-500);
  --color-aquamarine-600: var(--color-aquamarine-600);
  --color-aquamarine-700: var(--color-aquamarine-700);
  --color-aquamarine-800: var(--color-aquamarine-800);
  --color-aquamarine-900: var(--color-aquamarine-900);

  /* Rose */
  --color-rose: var(--color-rose);
  --color-rose-100: var(--color-rose-100);
  --color-rose-200: var(--color-rose-200);
  --color-rose-300: var(--color-rose-300);
  --color-rose-400: var(--color-rose-400);
  --color-rose-500: var(--color-rose-500);
  --color-rose-600: var(--color-rose-600);
  --color-rose-700: var(--color-rose-700);
  --color-rose-800: var(--color-rose-800);
  --color-rose-900: var(--color-rose-900);

  /* Sunglow */
  --color-sunglow: var(--color-sunglow);
  --color-sunglow-100: var(--color-sunglow-100);
  --color-sunglow-200: var(--color-sunglow-200);
  --color-sunglow-300: var(--color-sunglow-300);
  --color-sunglow-400: var(--color-sunglow-400);
  --color-sunglow-500: var(--color-sunglow-500);
  --color-sunglow-600: var(--color-sunglow-600);
  --color-sunglow-700: var(--color-sunglow-700);
  --color-sunglow-800: var(--color-sunglow-800);
  --color-sunglow-900: var(--color-sunglow-900);

  /* Papaya Whip */
  --color-papaya-whip: var(--color-papaya-whip);
  --color-papaya-whip-100: var(--color-papaya-whip-100);
  --color-papaya-whip-200: var(--color-papaya-whip-200);
  --color-papaya-whip-300: var(--color-papaya-whip-300);
  --color-papaya-whip-400: var(--color-papaya-whip-400);
  --color-papaya-whip-500: var(--color-papaya-whip-500);
  --color-papaya-whip-600: var(--color-papaya-whip-600);
  --color-papaya-whip-700: var(--color-papaya-whip-700);
  --color-papaya-whip-800: var(--color-papaya-whip-800);
  --color-papaya-whip-900: var(--color-papaya-whip-900);

  /* Rich Black */
  --color-rich-black: var(--color-rich-black);
  --color-rich-black-100: var(--color-rich-black-100);
  --color-rich-black-200: var(--color-rich-black-200);
  --color-rich-black-300: var(--color-rich-black-300);
  --color-rich-black-400: var(--color-rich-black-400);
  --color-rich-black-500: var(--color-rich-black-500);
  --color-rich-black-600: var(--color-rich-black-600);
  --color-rich-black-700: var(--color-rich-black-700);
  --color-rich-black-800: var(--color-rich-black-800);
  --color-rich-black-900: var(--color-rich-black-900);

  /* Primary */
  --color-primary: var(--color-pumpkin-400);
  --color-primary-hover: var(--color-pumpkin-500);
  --color-white: var(--color-papaya-whip-100);
  --color-black: var(--color-rich-black);

  /* Josefin Sans */
  --font-josefin-sans: "Josefin Sans", sans-serif;

  /* Barriecito */
  --font-barriecito: "Barriecito", "Barrio", sans-serif;

  /* Barrio */
  --font-barrio: "Barrio", "Barriecito", sans-serif;

  /* Danfo */
  --font-danfo: "Danfo", monospace;

  --spacing-checkerboard-size: 110px;
}
