---
import Link from "~/components/Link.astro";
import ErrorLayout from "~/layouts/Error.astro";
---

<ErrorLayout>
  <p class="text-lg">This page doesn't exist.</p>
  <p>
    Perhaps you were looking for a gallery of my dog, <Link href="/pepita"
      >Pepita ?</Link
    >
  </p>
</ErrorLayout>
