---
import RootLayout from "~/layouts/Root.astro";
import Button from "~/components/Button.astro";
import Link from "~/components/Link.astro";
import { ANIMATE_COLORS_CLASSES } from "~/consts";
---

<RootLayout
  layoutProps={{
    showCheckerboard: true,
    class: "items-center justify-center gap-8 self-center",
  }}
>
  <div class="text-center">
    <h1 class="text-5xl font-bold">
      Hello! I'm
      <span class=`${ANIMATE_COLORS_CLASSES} text-6xl `> Blake Netzeband </span>
    </h1>
  </div>

  <p class="max-w-2xl text-justify text-lg">
    I'm a full stack developer with experience building apps of all shapes and
    sizes. I've spent a good chunk of my life contributing to products that have
    an environmental or social impact. The other parts include living out of a
    van, biking around the world, or just hangin' with my <Link href="/pepita"
      >pup</Link
    > :)
  </p>

  <p class="max-w-2xl text-justify text-lg">
    Are you building something interesting?{" "}
    <Link href="mailto:blakenetzeband@gmail.com">Let's connect</Link>
  </p>

  <div class="flex w-full max-w-xs gap-4">
    <Button as="a" href="/projects" data-astro-prefetch="load">Projects</Button>
    <Button as="a" href="/blog" data-astro-prefetch="load">Blog</Button>
  </div>
</RootLayout>
