---
import { Image } from "astro:assets";
import pepita from "~/assets/pepita/close-up.png";
import ImageGallery from "~/components/pepita/ImageGallery.astro";
import { ANIMATE_COLORS_CLASSES } from "~/consts";
import RootLayout from "~/layouts/Root.astro";

const placeholders = Array.from({ length: 16 }, (_, i) => i);
---

<RootLayout
  layoutProps={{ showCheckerboard: true, showNav: true, class: "items-center" }}
  headProps={{
    title: "BN | Pepita",
    description: "Good doggo",
  }}
>
  <h1 class="text-xl font-bold">
    <span class=`${ANIMATE_COLORS_CLASSES} text-6xl`>Pepita!</span> (and friends)
  </h1>

  <div class="w-full max-w-7xl">
    <Image src={pepita} alt="Pepita" fit="contain" fetchpriority="high" />
  </div>

  <div class="grid w-full grid-cols-2 gap-2 p-2 md:grid-cols-3 lg:grid-cols-4">
    <ImageGallery server:defer>
      {
        placeholders.map(() => (
          <div
            slot="fallback"
            class="bg-dodger-blue/50 h-[300px] w-[350px] rounded-sm"
          />
        ))
      }
    </ImageGallery>
  </div>
</RootLayout>
