---
import { Image } from "astro:assets";
import pepita from "~/assets/pepita/close-up.png";
import ImageGallery from "~/components/pepita/ImageGallery.astro";
import { ANIMATE_COLORS_CLASSES } from "~/consts";
import RootLayout from "~/layouts/Root.astro";

const placeholders = Array.from({ length: 16 }, (_, i) => i);
---

<RootLayout
  layoutProps={{ showCheckerboard: true, showNav: true, class: "items-center" }}
  headProps={{
    title: "BN | Pepita",
    description: "Good doggo",
  }}
>
  <h1 class="text-xl font-bold">
    <span class=`${ANIMATE_COLORS_CLASSES} text-6xl`>Pepita!</span> (and friends)
  </h1>

  <div class="w-full max-w-7xl">
    <Image
      src={pepita}
      alt="Pepita"
      width={800}
      height={600}
      widths={[400, 800, 1200]}
      sizes="(max-width: 1024px) 100vw, 896px"
      fit="contain"
      fetchpriority="high"
    />
  </div>

  <div class="grid w-full grid-cols-2 gap-2 p-2 md:grid-cols-3 lg:grid-cols-4">
    <ImageGallery server:defer>
      {
        placeholders.map(() => (
          <div
            slot="fallback"
            class="bg-dodger-blue/50 aspect-square w-full min-h-0 rounded-sm"
          />
        ))
      }
    </ImageGallery>
  </div>
</RootLayout>
