---
import Form from "~/components/blog/Form.astro";
import Layout from "~/layouts/Root.astro";
import { ANIMATE_COLORS_CLASSES } from "~/consts";
---

<Layout
  headProps={{
    title: "BN | Blog",
    description: "My thoughts. some complete... others not... 😜",
  }}
  layoutProps={{ showCheckerboard: true, showNav: true }}
>
  <section class="mx-auto flex max-w-xl flex-col gap-8 py-8">
    <h1 class={`text-6xl text-center font-bold ${ANIMATE_COLORS_CLASSES}`}>
      Blog
    </h1>
    <Form server:defer>
      <div class="flex animate-pulse flex-col gap-2" slot="fallback">
        <div class="bg-dodger-blue/20 rounded-xs h-32 w-full"></div>
        <div class="bg-aquamarine/20 rounded-xs h-32 w-full"></div>
        <div class="bg-sunglow/20 rounded-xs h-32 w-full"></div>
        <div class="bg-rose/20 rounded-xs h-32 w-full"></div>
        <div class="bg-dodger-blue/20 rounded-xs h-32 w-full"></div>
        <div class="bg-aquamarine/20 rounded-xs h-32 w-full"></div>
      </div>
    </Form>
  </section>
</Layout>
