---
interface Props {
  language: string;
}

const { language } = Astro.props as Props;
---

<div class="flex items-center gap-2">
  <div
    class:list={[
      "h-2 w-2 rounded-full p-1",
      { "bg-dodger-blue": ["TypeScript", "JavaScript"].includes(language) },
      { "bg-rich-black": language === "Just" },
      { "bg-sunglow": ["CSS", "HTML"].includes(language) },
      { "bg-rose": language === "Ruby" },
      { "bg-aquamarine": language === "Python" },
    ]}
  >
  </div>
  <span>{language}</span>
</div>
