section {
	position: relative;
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
}

h2 {
	font-family: 'Monoton';
	font-size: 5em;
  font-weight: 100;
  margin: 0;
	padding-left: 20px;
	width: fit-content;
}

p {
	margin-top: -1em;
	padding-left: 20px;
	width: fit-content;
}

.skills-header {
	overflow: hidden;
	position: relative;
}
.skills-sr {
	display: flex;
	flex-flow: row nowrap;
	position: relative;
	overflow: hidden;
}
.skills-text {
	width: fit-content;
}

img {
	padding-top: 20px;
}

.skills-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	max-width: 1100px;
}

h2, h3, li {
	position: relative;
}

.svg-wrapper {
	text-align: center;
}

@media (max-width: 490px) {
	svg {
		width: 85%;
		height: 100px;
	}
}
@media (max-width: 405px) {
	svg {
		width: 85%;
		height: 80px;
	}
}

.icons {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	background-color: #000;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 10;
}

.icons i {
	color: #FFF;
  margin: 0.7em;
}

.animate {
	animation-name: spinaway;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	position: absolute;
}
@keyframes spinaway {
	from {}
	to {
		transform: translate(100vw, -50vh) rotate(450deg);
		opacity: 0;
	}

}