section {
	height: 100vh;
	background-color: pink;
}

canvas {
	width: 100vw;
	height: 100vh;
}

.welcome-text {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

h1, h2 {
	font-family: 'Poiret One', sarif;
	text-align: right;
	margin: 0;
	padding: 15px;
	background: white;
	margin-bottom: 20vh;
}

h1 {
	font-size: 6vw;
}
h2 {
	font-size: 4vw;
}