---
import BaseHead from "~/components/BaseHead.astro";
import Background from "~/components/Background.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body
    class="bg-papaya-whip text-rich-black font-josefin-sans min-h-dvh min-w-dvw"
  >
    <Background>
      <slot />
    </Background>
  </body>
</html>
