---
import Background from "~/components/Background.astro";
import BaseHead from "~/components/BaseHead.astro";
import type { ComponentProps } from "astro/types";

type Props = {
  headProps: ComponentProps<typeof BaseHead>;
  layoutProps: ComponentProps<typeof Background>;
};
const { headProps, layoutProps } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...headProps} />
  </head>
  <body class="bg-papaya-whip font-josefin-sans min-w-dvw min-h-dvh text-black">
    <Background {...layoutProps}>
      <slot />
    </Background>
  </body>
</html>
