---
import Background, {
  type BackgroundProps,
} from "~/components/Background.astro";
import type { BaseHeadProps } from "~/components/BaseHead.astro";
import BaseHead from "~/components/BaseHead.astro";

export type RootLayoutProps = {
  headProps: BaseHeadProps;
  layoutProps: BackgroundProps;
};
const { headProps, layoutProps } = Astro.props as RootLayoutProps;
---

<html lang="en">
  <head>
    <BaseHead {...headProps} />
  </head>
  <body class="bg-papaya-whip font-josefin-sans min-w-dvw min-h-dvh text-black">
    <Background {...layoutProps}>
      <slot />
    </Background>
  </body>
</html>
