.grid {
  display: grid;
  gap: var(--mantine-spacing-sm);
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: $mantine-breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.description {
  font-size: var(--mantine-font-size-sm);
}

.meta {
  display: flex;
  gap: var(--mantine-spacing-xs);
  align-items: center;
}
.meta p {
  font-size: var(--mantine-font-size-xs);
}

.badge {
  height: var(--mantine-font-size-xs);
  width: var(--mantine-font-size-xs);
  padding: 0;
  align-self: center;
  margin-right: calc(var(--mantine-spacing-xs) / 2);
}

.end {
  justify-content: flex-end;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.anchor {
  font-size: var(--mantine-font-size-sm);
}

.icon,
.icon svg {
  height: var(--mantine-font-size-md);
  width: var(--mantine-font-size-md);
}

.icon {
  margin-right: calc(var(--mantine-spacing-xs) / 2);
}

.flex {
  display: flex;
  align-items: center;
}

.repos {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}
