---
import type { HTMLAttributes } from "astro/types";
import Header from "~/components/Header.astro";

interface Props extends HTMLAttributes<"main"> {
  showCheckerboard?: boolean;
  showNav?: boolean;
}

const { showCheckerboard, showNav, class: className, ...props } = Astro.props;
---

<section id="background" class="fixed inset-0 -z-10" transition:persist>
</section>
{showCheckerboard && <section id="checkerboard" class="fixed inset-0 -z-10" />}
<div
  id="noise"
  class="bg-size-200 pointer-events-none fixed -inset-[150%] h-[400%] w-[400%] bg-repeat opacity-15"
  transition:persist
>
</div>
<main
  {...props}
  class:list={[
    "fixed inset-0 cursor-default overflow-hidden",
    { "h-100dvh w-100dvw lg:p-checkerboard-size": showCheckerboard },
    className,
  ]}
>
  <div class="h-full overflow-auto">
    {showNav && <Header />}
    <slot />
  </div>
</main>
<section
  id="cursor"
  class="pointer-events-none fixed inset-0"
  transition:persist
>
</section>

<style>
  #noise {
    animation: noise-anim 4s steps(8) infinite;
    background: url(/noise.png);
  }

  @keyframes noise-anim {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-10%, 5%);
    }
    50% {
      transform: translate(5%, -10%);
    }
    75% {
      transform: translate(-5%, 10%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
</style>

<script>
  import {
    BlobBackgroundCanvas,
    CheckerboardBackgroundCanvas,
    CursorCanvas,
  } from "~/lib/canvas.client";
  import { isTouchDevice } from "~/lib/utils.client";

  document.addEventListener("astro:page-load", () => {
    if (document.getElementById("checkerboard")) {
      new CheckerboardBackgroundCanvas("checkerboard");
    }

    new BlobBackgroundCanvas("background");
    if (!isTouchDevice()) new CursorCanvas("cursor");
  });
</script>
