---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  direction?: "horizontal" | "vertical";
}

const { direction = "vertical", class: className, ...props } = Astro.props;
---

<div
  {...props}
  class:list={[
    "border-s-1 border-t-1 self-stretch border-zinc-500",
    { "h-auto": direction === "vertical" },
    className,
  ]}
>
</div>
