---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  direction?: "horizontal" | "vertical";
  size?: "md" | "lg";
}

const {
  direction = "vertical",
  size = "md",
  class: className,
  ...props
} = Astro.props;
---

<div
  {...props}
  class:list={[
    "self-stretch border-zinc-500",
    { "h-auto": direction === "vertical" },
    { "border-s-1 border-t-1": size === "md" },
    { "border-s-2 border-t-2": size === "lg" },
    className,
  ]}
>
</div>
