<section id="background" class="fixed inset-0 -z-10"></section>
<div
  id="noise"
  class="bg-size-200 pointer-events-none fixed -inset-[150%] h-[400%] w-[400%] bg-repeat opacity-15"
>
</div>
<main class="p-checkerboard-size fixed inset-0 cursor-default">
  <slot />
</main>

<style>
  #noise {
    animation: noise-anim 4s steps(8) infinite;
    background: url(/noise.png);
  }

  @keyframes noise-anim {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-10%, 5%);
    }
    50% {
      transform: translate(5%, -10%);
    }
    75% {
      transform: translate(-5%, 10%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
</style>

<script>
  import { BackgroundCanvas } from "~/lib/background";

  const background = new BackgroundCanvas(
    window.innerWidth,
    window.innerHeight
  );

  background.initializeEventListeners(window);
</script>
