---
interface DividerProps {
  direction?: "horizontal" | "vertical";
}

const { direction = "vertical" }: DividerProps = Astro.props;
---

<div
  class:list={[
    "border-s-1 border-t-1 self-stretch border-zinc-500",
    { "h-auto": direction === "vertical" },
  ]}
>
</div>
