---
import type { RepoData } from "~/types/projects";
import GridItem from "./GridItem.astro";
interface Props {
  data: RepoData;
}

const { data } = Astro.props;
---

<section class="relative">
  <div class={`grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4`}>
    {data.map((repo, index) => <GridItem repo={repo} index={index} />)}
  </div>
</section>
