---
import type { RepoData } from "~/types/projects";
import GridItem from "./GridItem.astro";
import GridLines, { size as gridItemSize } from "./GridLines.astro";
interface Props {
  data: RepoData;
}

const { data } = Astro.props;
---

<section class="relative">
  <GridLines />
  <div
    class={`grid grid-cols-1 gap-${gridItemSize} md:grid-cols-2 xl:grid-cols-3`}
  >
    {data.map((repo) => <GridItem repo={repo} />)}
  </div>
</section>
