---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"span"> {
  label: string;
}

const { label } = Astro.props;
---

<span class="group relative">
  <div
    class="absolute bottom-[calc(100%+0.5rem)] left-[50%] hidden w-auto -translate-x-[90%] group-hover:block"
  >
    <div
      class="right-0 bottom-full rounded bg-black px-4 py-1 text-xs whitespace-nowrap text-white"
    >
      {label}
      <svg class="absolute text-black h-2 right-0 mr-3 top-full" x="0px" y="0px" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
    </div>
  </div>
  <slot />
</span>
